{% extends 'fhub.html' %}
{% block content %}
<div class="main-container">
    <div class="hh">

        <h1 class="h1">Who ever you are..</h1>
        <p class="animated-p">We have you covered.</p>
        <div class="interests">
            <!-- The end is the start if something else you dumb idiot!!! -->
            <div class="flex">
                <div class="it">
                    <div class="p12">
                        <p>Hacking</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Entrepreneurship</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>#Drugs</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>#DumbPeople</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>#You</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>

            </div>
            <!-- The end is the start if something else you dumb idiot!!! -->
            <div class="flex">
                <div class="it">
                    <div class="p12">
                        <p>#Russia</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>War</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Ukraine</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Plaistine</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>US_Politics</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Shit</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>

            </div>
            <!-- The end is the start if something else you dumb idiot!!! -->
            <div class="flex">
                <div class="it">
                    <div class="p12">
                        <p>AI</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>ChatGPT</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Google</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Microsoft</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Bitcoin</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>


            </div>
            <!-- The end is the start if something else you dumb idiot!!! -->
            <div class="flex">
                <div class="it">
                    <div class="p12">
                        <p>Cryptocurrency</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>CallOfDuty</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Fortnite</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Chat</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>#Kill</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>


            </div>
            <!-- The end is the start if something else you dumb idiot!!! -->
            <div class="flex">
                <div class="it">
                    <div class="p12">
                        <p>#Die</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>#Suicide</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>#Homicide</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>#Illegal</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Weapons</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Alcohol</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>

            </div>
            <!-- The end is the start if something else you dumb idiot!!! -->
            <div class="flex">
                <div class="it">
                    <div class="p12">
                        <p>#GhostHunting</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Blogging</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Vlogging</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Hiking</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>
                <div class="it">
                    <div class="p12">
                        <p>Fucking</p>
                    </div>
                    <div class="svg">
                        <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                            <path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" />
                        </svg>
                    </div>

                </div>


            </div>
        </div>

        <!-- The end is the start if something else you dumb idiot!!! -->
    </div>
    <div class="btns">
        ll
    </div>
    {% endblock %}